body{
    background-color: black;
}
.row{
    margin-bottom: -4px;
}
.row div{
    width: 20px;
    height: 20px;
    border: 2px solid black;
    display: inline-block;
}
.brick{
    background-color: blue;
}
.coin{
    background: url('images/coin.gif');
}
.pacman{
    background: url('images/pacman.gif');
}
.sprite {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
